/** SMS - Selling Made Simple
 * Copyright 2007 by Kevin Grandon (kevingrandon@hotmail.com)
 * This project's homepage is: http://sellingmadesimple.org
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * BUT withOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
**/

/* General Styles */
* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a {
	text-decoration:none;
	color:#494A4E;
}
a:hover {
	/*text-decoration:underline;*/
}
a img,
fieldset {
	border:0;
}
p {
	margin-bottom:15px;
}
ul, ol {
	padding-left:35px;
	margin-bottom:15px;
}
h3 {
	margin-bottom:6px;
}
legend {
	display:none;
}
.clearb {
	clear:both;
}
#flashMessage {
	width:96%;
	background-color:#CCCCCC;
	border:1px solid #666666;
	margin:10px 0 10px 0;
	padding:5px;
}
.no_data {
	text-align:center;
	font-style:italic;
	padding:20px;
}
/* End General Styles */

/* Layout Styles */
body {
	background-color:#E6E6E6;
}
#header {
	height:40px;
	overflow:hidden;
	background:#45636D url(/img/admin/header-bg.jpg) repeat-x;
	padding-right:100px;
	}
	#header h1 {
		color:#FFFFFF;
		font-size:28px;
		font-weight:normal;	
		margin:4px 10px;	
		float:left;
	}
	#header #global_search {
		float:right;
	}
	#header #global_search label {
		display:none;
	}	
	#header #global_search input {
		margin-top:13px;
		height:14px;
		width:225px;
	}	
	#header #global_search .submit {
		display:none;
	}			
#under_header_bar {
	height:5px;
	background:#FF9C0F;
	overflow:hidden;
}
#menu_container {
	height:22px;
	overflow:hidden;
	background:#91AFBA;
}
#content_body {
	background:#FFFFFF;
}
#breadcrumbs {
	padding:4px 0 7px 0;
	margin:0 15px;
	background:#FFFFFF url(/img/admin/custom-hr.jpg) repeat-x bottom;
	}
	#breadcrumbs,
	#breadcrumbs a {
		color:#494A4E;
		font-size:13px;
	}
	#breadcrumbs .separator {
		letter-spacing:-2px;
		padding:0 6px 0 4px;
		font-size:10px;
	}
#content {
	padding:15px 30px;
	}
	#content .pageheader {
		color:#FC8215;
		font-weight:bold;
		font-size:16px;
		margin-bottom:10px;
	}
	
	/* Nav List Pages */
	.page_menu_item {
		background:#E5ECF2;
		color:#2D3236;
		margin-bottom:15px;
		padding:20px;
		width:40%;
	}
	.page_menu_item a:hover {
		text-decoration:underline;
	}
	.page_menu_item .heading {
		font-weight:bold;
		font-size:14px;
	}
	/* End Nav List Pages */
		
	/* Tab Styling */
	#page_tabs  {
		overflow: hidden;
		}
	#page_tabs div  {
	   color: #fff;
	   font-size: 1.1em;
	   background-color: #9ca2a9;
	   text-align: center;
	   float: left;
	   display:block;
	   margin-right: 5px;
	   padding-right: 8px;
	   padding-left: 8px;
	   cursor: pointer;
	   }
	#page_tabs div:hover, #page_tabs div.cssHover  {
		background-color: #7a838b;
	}
	#page_tabs div.active  {
		background-color: #2D434E;
	}	
	/* End Tab Styling */
	
	/* Form Styling */
	fieldset {
		padding:10px;
		background:#E5ECF2;
		}
		fieldset fieldset {
			padding:0;
		}
	div.submit input {
		background:#FF9610;
		color:#FFFFFF;
		font-weight:bold;
		padding:2px 6px;
	}
	.button {
		padding:3px 4px;
		font-weight:bold;
		border:1px solid #666666;
		background-color:#999999;
		color:#000000;
	}
	div.input {
		clear:both;
	}
	div.input label {
		display:block;
		float:left;
		width:150px;
	}
	div.input input {
		display:block;
		float:left;
	}
	div.submit {
		float:left;
		display:block;
		margin:4px;
	}
	.attach_select select {
		margin:4px;
		width:300px;
	}
	.input select,
	.input input {
		width:300px;
	}
	.input input.checkbox_group {
		width:auto;
		margin:0 10px 18px 0;
	}
	.input select,
	.input input,
	.input textarea {
		margin-bottom:18px;
	}
	.form_divider {
		display:block;
		margin-bottom:18px;
	}
	.attach_select select,
	.attach_select input {
		float:left;
	}
	textarea  {
	font-size: 1.2em;
	border: solid 1px #666666;
	width: 48em;
	height: 30em;
	}	
	textarea.pagetextarea  {
	   width: 48em;
	   height: 30em;
	}
	textarea.pagebigtextarea { 
		height: 40em; 
		width: 55em; 
	}
	textarea.pagesmalltextarea { 
		height: 15em; 
		width: 48em; 
	}	
	textarea.pagesmallesttextarea {
		height: 6em; 
		width: 48em; 	
	}
	/* End Form Styling */	
	
	/* Table Styling */
	#content .pagetable {
		width:100%;
		padding-bottom:10px;
		margin-bottom:10px;
		background:#FFFFFF url(/img/admin/custom-hr.jpg) repeat-x bottom;
		}
		#content .pagetable th {
			color:#FFFFFF;
			text-align:left;
			background:#7A7673;
		}	
		#content .pagetable th,
		#content .pagetable td {
			padding:0 1%;
		}
		#content .pagetable td {
			height:22px;
		}
		#content .pagetable tr.row1  {
			background-color: #fff;
		}
		#content .pagetable tr.row2  {
			background-color: #ececec;
		}
		#content .pagetable tr.row1hover  {
			background-color: #ddd;
		}
		#content .pagetable tr.row2hover  {
			background-color: #ddd;
		}
	#content .ordertable {
		width:60%;
		margin-bottom:20px;
		}
		#content .ordertable tr {
			background-color:#E5ECF2;
		}	
		#content .ordertable td {
			border:6px solid #FFFFFF;
			padding:10px;
		}
		/* End Table Styling */		

	/* Action Bar Styling */				
	#content .newlink {
		float: left; 
		text-align: left; 
		width:40%;
		}
		a.create_link {
			background:url(/img/admin/newobject.gif) no-repeat;
			display:block;
			height:20px;
			padding:5px 23px;
		}
	#content .multiaction {
		float: right; 
		text-align: right; 
		width:40%;
	}
	/* End Action Bar Styling */					
	
#footer {
	border-top:2px solid #AFAFAF;
	background-color:#E6E6E6;
}
#footer a#footer_text {
	float:right;
	display:block;
	padding:10px 20px 20px 0;
	font-size:10px;
	color:#494A4E;
}
/* End Layout Styles */


/* Navigation Styles */

#admin_nav, #admin_nav ul  {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#admin_nav ul  {
	/* border: solid 1px #c6c3bd;*/
}
#admin_nav a  {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
}
#admin_nav li a  {
	font-size: 13px;
	padding-top:3px;
	padding-bottom: 2px;
}
#admin_nav li li a {
	padding-bottom:4px;
}	
#admin_nav li ul a  {
	text-align: left;
	margin-top: 0px;
	position: relative;
	display:block;
}
#admin_nav li  {
	float: left;
	display:block;
	padding: 0;
}
#admin_nav li ul  {
	background:#91AFBA;
	margin: 0;
	padding: 0px;
	width: auto;
	height: auto;
	display: none;
	position:absolute;
	z-index:999;
}
#admin_nav li li  {
   float: none;
   margin: 0px;
   padding: 0px;
	z-index:10000;   
}
#admin_nav li:hover ul ul, #admin_nav li.cssHover ul ul  {
   display: none;
   }
#admin_nav li:hover ul, #admin_nav li.cssHover ul  {
   display: block;
   }
#admin_nav li:hover {
	background:#FF9C0F url(/img/admin/nav_overlay.jpg) repeat-x;
}
#admin_nav li li:hover {
	background:#85A6B6;
}

/* End Navigation Styles */



/* SWF CSS */
.swfuploadbtn {
			display: block;
			width: 100px;
			padding: 0 0 0 20px;
		}
		
		.browsebtn { white-space:nowrap;font-size:14px;background: url(/img/admin/add.png) no-repeat 0 0; }
		.uploadbtn { 
			font-size:14px;
			display: none;
			background: url(/img/admin/accept.png) no-repeat 0 0; 
			white-space:nowrap;
		}
		
		.cancelbtn { 
			display: block;
			width: 16px;
			height: 16px;
			float: right;
			background: url(/img/admin/cancel.png) no-repeat; 
		}
		
		#cancelqueuebtn {
			display: block;
			display: none;
			background: url(/img/admin/cancel.png) no-repeat 0 4px;
			margin: 10px 0;
		}
		
		#SWFUploadFileListingFiles ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.SWFUploadFileItem {

			display: block;
			width: 230px;
			height: 70px;
			float: left;
			background: #eaefea;
			margin: 0 10px 10px 0;
			padding: 5px;

		}

		.fileUploading { background: #fee727; }
		.uploadCompleted { background: #d2fa7c; }
		.uploadCancelled { background: #f77c7c; }
		
		.uploadCompleted .cancelbtn, .uploadCancelled .cancelbtn {
			display: none;
		}
		
		span.progressBar {
			width: 200px;
			display: block;
			font-size: 10px;
			height: 4px;
			margin-top: 2px;
			margin-bottom: 10px;
			background-color: #CCC;
		}
#content_images {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}
#content_images li {
	display:block;
	float:left;
	padding:4px;
	border:1px solid #999999;
	background-color:#FFFFFF;
	margin:5px;
}
/* END SWF UPLOAD CSS */