/* ========================================================================== */
/* Global properties (body, common classes, vertical rhythm, structure etc)
/* ========================================================================== */
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #fff;
  color: #000;
  padding: 0;
}
.inner {
  background-color: #fbfbfb;
  position: relative;
  padding: 15px;
}
.inner.darken {
  background-color: #eeeeee;
}
::selection {
  background: #ff9f80;
  color: #ffffff;
  /* Safari */
}
::-moz-selection {
  background: #ff9f80;
  color: #ffffff;
  /* Firefox */
}
/* main link color/style */
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  text-decoration: none;
}
a:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ff6633;
}
a.read-more {
  text-decoration: none;
  border-bottom: dotted 1px #ff6633;
}
a.read-more:hover {
  border-bottom-style: solid;
}
.italic {
  color: #ff6633;
  font-style: italic;
}
strong {
  color: #000000;
}
.underline:after {
  background: none repeat scroll 0 0 #ff6633;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin-top: 10px;
  width: 40px;
}
blockquote {
  border-color: #ff6633;
  border-left-width: 2px;
}
blockquote p {
  font-size: 14px;
  margin-bottom: 10px;
}
blockquote p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: normal;
  margin: 0 0 20px 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #ff6633;
}
hr {
  border-top-color: #eeeeee;
  border-bottom-color: transparent;
}
hr.transparent {
  border-color: transparent !important;
}
/* ========================================================================== */
/* Header, Logo, Navigation & Menus
/* ========================================================================== */
.topbar {
  font-size: 11px;
}
@media (max-width: 767px) {
  .topbar {
    padding: 0 20px;
  }
}
.topbar a {
  color: #000;
}
.topbar a:hover {
  color: #000;
}
.topbar .nav-pills > li > a {
  padding: 5px 10px;
}
.topbar .nav-pills > li > a:hover {
  background-color: transparent;
}
.topbar .dropdown-menu {
  border: none;
  background-color: #333333;
  color: #ffffff;
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topbar .dropdown-menu:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topbar .dropdown-menu a {
  color: #ffffff;
}
.topbar .dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topbar .dropdown-toggle .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.topbar .dropdown-toggle:hover .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
.topbar .nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.topbar .dropdown-menu > li > a:hover,
.topbar .dropdown-menu > li > a:focus,
.topbar .dropdown-submenu:hover > a,
.topbar .dropdown-submenu:focus > a {
  filter: none;
  background-image: none;
  background-color: #555;
}
.topbar .nav-pills.top-contacts {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .topbar .nav-pills.top-contacts {
    float: none;
    display: none;
  }
}
.topbar .nav-pills.top-menu {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .topbar .nav-pills.top-menu {
    float: none;
    display: none;
  }
}
#header > .container {
  background-color: #ffffff;
  padding: 25px 0;
}
@media (max-width: 767px) {
  #header > .container {
    padding: 35px 20px;
  }
}
@media (max-width: 767px) {
  #header .logo {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}
#header .logo .site-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  height: 25px;
  margin: 0;
}
#header .logo .site-name a {
  color: #000000;
}
#header .logo .site-name a:hover {
  color: #ff6633;
  text-decoration: none;
}
#header .logo .site-slogan {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  height: 15px;
  margin: 0;
  color: #000;
}
#header .form-search {
  margin: 0;
  margin-top: 12px;
}
@media (min-width: 1200px) {
  #header .form-search {
    margin-top: 20px;
  }
}
@media (max-width: 979px) {
  #header .form-search {
    margin-top: 3px;
  }
}
#header .form-search input[type="text"] {
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #ffffff;
  color: #c8c8c8;
  padding: 10px 15px;
  height: auto;
  width: 100%;
  float: right;
  font-size: 16px;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
#header .form-search input[type="text"]:hover,
#header .form-search input[type="text"]:focus {
  background-color: #eeeeee;
  color: #000000;
}
#navigation .open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: .2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#navigation > .container {
  position: relative;
}
#navigation .login {
  background-color: #ff6633;
  position: absolute;
  width: 45px;
  top: -70px;
  right: 0;
}
@media (min-width: 1200px) {
  #navigation .login {
    top: -73px;
  }
}
@media (max-width: 979px) {
  #navigation .login {
    top: -66px;
  }
}
@media (max-width: 767px) {
  #navigation .login {
    top: 5px;
    right: 5px;
    z-index: 1;
  }
}
#navigation .login .account-avatar {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}
#navigation .login .account {
  float: right;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  display: block;
  padding: 10px 15px 10px 14px;
  color: #ffffff;
}
#navigation .login .account:hover {
  background-color: #ff6633;
}
@media (max-width: 767px) {
  #navigation .nav {
    display: none;
  }
}
#navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
#navigation .navbar {
  margin: 0;
}
#navigation .navbar-inner {
  filter: none;
  position: relative;
  padding: 0;
  background-image: none;
  background-color: #ff6633;
  color: #ffffff;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 767px) {
  #navigation .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 50px;
  }
}
#navigation .navbar .nav > li > a {
  text-shadow: none;
  padding: 15px 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 1px #cc3300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 979px) {
  #navigation .navbar .nav > li > a {
    padding: 15px 10px;
  }
}
#navigation .navbar .nav > li > a .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
#navigation .navbar .nav > li > a:hover {
  background-color: #000;
  color: #ffffff;
}
#navigation .navbar .nav > li > a:hover .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
#navigation .navbar .nav > .active > a,
#navigation .navbar .nav > .active > a:hover,
#navigation .navbar .nav > .active > a:focus {
  background-color: #000;
  color: #ffffff;
}
#navigation .navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #000;
  color: #ffffff;
}
#navigation .navbar .nav li.dropdown.active > .dropdown-toggle {
  color: #ffffff;
}
#navigation .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
}
#navigation .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
#navigation .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
#navigation .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
#navigation .navbar .nav > li > .dropdown-menu {
  background-color: #000;
  border: none;
  margin-top: 0;
  padding: 10px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#navigation .navbar .nav > li > .dropdown-menu:after,
#navigation .navbar .nav > li > .dropdown-menu:before {
  border: none;
}
#navigation .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation .dropdown-menu > li > a {
  filter: none;
  color: #ffffff;
  background-image: none;
}
#navigation .dropdown-menu > li > a:hover {
  background-color: #555;
  color: #ffffff;
}
#navigation .shopping-cart {
  z-index: 2;
}
@media (max-width: 767px) {
  #navigation .shopping-cart {
    position: absolute;
    right: 55px;
    top: 0;
  }
}
#navigation .shopping-cart .cart {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#navigation .shopping-cart .cart span {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  float: right;
}
#navigation .shopping-cart .cart .amount [class^="icon-"],
#navigation .shopping-cart .cart .amount [class*=" icon-"] {
  margin-right: 7px;
}
#navigation .shopping-cart .cart .quantity {
  background-color: #000;
}
#navigation .shopping-cart .cart:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ffffff;
  text-decoration: none;
}
#navigation .shopping-cart .cart:hover span {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ffffff;
}
#navigation .shopping-cart .cart:hover .amount {
  background-color: #000;
}
#navigation .shopping-cart .cart:hover .quantity {
  background-color: #333333;
}
#navigation .shopping-cart .cart-dropdown {
  width: 250px;
  position: absolute;
  padding: 10px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  border-top: 0;
  color: #000;
  right: 0;
  top: 100%;
  display: none;
  z-index: 9999;
}
@media (max-width: 767px) {
  #navigation .shopping-cart .cart-dropdown {
    right: -50px;
  }
}
#navigation .shopping-cart .cart-dropdown .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
#navigation .shopping-cart .cart-dropdown .content .products {
  margin: 0 0 20px 0;
}
#navigation .shopping-cart .cart-dropdown .content .products .media-heading {
  font-weight: bold;
  font-size: 16px;
  color: #ff6633;
}
#navigation .shopping-cart .cart-dropdown .content .products .media-heading a {
  text-decoration: none;
  color: #ff6633;
}
#navigation .shopping-cart .cart-dropdown .content .products .media-heading a:hover {
  color: #ff6633;
}
#navigation .shopping-cart .cart-dropdown .buttons {
  margin-bottom: 0;
}
#navigation .shopping-cart .cart-dropdown .buttons .btn {
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#navigation .shopping-cart .cart-dropdown .buttons .btn:hover {
  background-color: #ff6633;
}
/* select dropdown for small screens
/* ========================================================================== */
.res-menu-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.res-menu {
  display: none;
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0;
}
@media (min-width: 480px) and (max-width: 767px) {
  .res-menu {
    display: block;
  }
}
@media (max-width: 479px) {
  .res-menu {
    display: block;
  }
}
.res-menu-title {
  display: none;
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 16px;
  color: #ffffff;
  padding-left: 20px;
  z-index: -1;
}
@media (max-width: 767px) {
  .res-menu-title {
    display: block;
  }
}
.res-menu-title:before {
  content: "\f0c9";
  font-family: "FontAwesome";
  left: 0;
  position: absolute;
  top: 0;
}
/* Breadcrumbs / Page Header
/* ========================================================================== */
#breadcrumbs {
  padding: 0 0 0 0;
}
@media (max-width: 480px) {
  #breadcrumbs {
    padding: 0 20px 0 20px;
  }
}
#breadcrumbs > .container {
  padding: 0 0 10px 0;
  border-bottom: solid 1px #eeeeee;
}
@media (min-width: 481px) and (max-width: 767px) {
  #breadcrumbs > .container {
    width: 460px;
  }
}
#breadcrumbs .page-header {
  margin: 0 15px 0 0;
  padding: 0;
  border: 0;
  float: left;
}
#breadcrumbs .page-header h1 {
  margin: 0;
  padding: 0 10px 0 0;
  font-size: 30px;
  line-height: 30px;
}
#breadcrumbs .page-header h1 small {
  font-size: 11px;
}
#breadcrumbs .breadcrumbs {
  float: left;
  padding-top: 15px;
  font-size: 11px;
  line-height: 11px;
  color: #000;
}
#breadcrumbs .breadcrumbs i {
  margin: 0 5px;
}
#breadcrumbs .breadcrumbs a {
  font-weight: bold;
  text-decoration: none;
  color: #888888;
}
#breadcrumbs .breadcrumbs a:hover {
  color: #333333;
}
@media (min-width: 481px) and (max-width: 767px) {
  #container > .container {
    width: 460px;
  }
}
@media (max-width: 480px) {
  #container > .container {
    padding: 0 20px;
  }
}
#container .row-fluid .page-sidebar.pull-right[class*="span"] {
  margin-left: 2.12766%;
}
#container .row-fluid .sidebar.pull-left[class*="span"] {
  margin-left: 0;
}
@media (min-width: 1200px) {
  #container .row-fluid .page-sidebar.pull-right[class*="span"] {
    margin-left: 2.5641%;
  }
  #container .row-fluid .sidebar.pull-left[class*="span"] {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #container .row-fluid .page-sidebar.pull-right[class*="span"] {
    margin-left: 0;
    float: none;
  }
  #container .row-fluid .sidebar.pull-left[class*="span"] {
    margin-left: 0;
    float: none;
  }
}
/* ========================================================================== */
/* Main Content Styles
/* ========================================================================== */
/* Frame overlay
/* ========================================================================== */
.media a,
.thumbnail {
  position: relative;
}
.media .frame-overlay,
.thumbnail .frame-overlay,
.portfolio article .frame-overlay {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.media a:hover .frame-overlay,
.thumbnail:hover .frame-overlay,
.portfolio article:hover .frame-overlay {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* Pagination
/* ========================================================================== */
.pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination ul > li:first-child a,
.pagination ul > li:last-child a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pagination ul > li > a,
.pagination ul > li > span {
  border: none;
  background-color: transparent;
  border-color: transparent;
  color: #555;
  padding: 7px 14px;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pagination ul > li > a:hover {
  background-color: #555;
  border-color: #555;
  color: #ffffff;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #ff6633;
  border-color: #ff6633;
  color: #ffffff;
}
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover {
  background-color: #ff6633;
  border-color: #ff6633;
  color: #ffffff;
}
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  color: #eeeeee;
  background-color: transparent;
  border-color: transparent;
}
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > span:hover {
  color: #eeeeee;
  background-color: transparent;
  border-color: transparent;
}
/* ========================================================================== */
/* Footer
/* ========================================================================== */
#footer {
  padding-top: 40px;
  background-color: #333333;
  color: #000;
}
@media (min-width: 481px) and (max-width: 767px) {
  #footer > .container {
    width: 460px;
  }
}
@media (max-width: 480px) {
  #footer > .container {
    padding: 0 20px;
  }
}
#footer [class^="icon-"],
#footer [class*=" icon-"] {
  color: #ff6633;
}
#footer .widget-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
  color: #ffffff;
}
#footer .widget-title .text-info {
  color: #ff6633;
}
#footer .widget-title.do {
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
#footer .widget-title.do:before {
  font-family: "FontAwesome";
  color: #ff6633;
  content: "\f0c9";
  position: absolute;
  right: 0px;
  top: 0px;
}
#footer .widget-title.do:hover:before {
  color: #ff6633;
}
#footer .widget-title.do:hover .text-info {
  color: #ff6633;
}
#footer .widget-inner {
  margin-bottom: 40px;
}
#footer a {
  color: #ffffff;
  text-decoration: none;
}
#footer a:hover {
  color: #ff794d;
}
#footer a.btn:hover {
  text-decoration: none;
}
/* Footer menu
/* ========================================================================== */
#footer-menu {
  font-size: 11px;
  background-color: #333333;
  color: #000;
}
@media (max-width: 480px) {
  #footer-menu {
    padding: 0 20px;
  }
}
#footer-menu > .container {
  border-top: solid 1px #4d4d4d;
  padding: 20px 0 40px 0;
}
@media (min-width: 481px) and (max-width: 767px) {
  #footer-menu > .container {
    width: 460px;
  }
}
#footer-menu a {
  color: #ffffff;
}
#footer-menu a:hover {
  color: #ff6633;
}
#footer-menu .privacy {
  margin: 0;
}
#footer-menu .privacy li {
  padding: 0 5px 0 0;
  margin: 0 5px 5px 0;
  border-right: solid 1px #000;
  line-height: 11px;
}
#footer-menu .privacy li:last-child {
  border-right: none;
}
#footer-menu .copyright {
  margin-bottom: 0;
  line-height: 16px;
}
#footer-menu .payment {
  text-align: right;
}
@media (max-width: 767px) {
  #footer-menu .payment {
    margin-top: 20px;
    text-align: left;
  }
}
/* ========================================================================== */
/* Sidebar / Widgets
/* ========================================================================== */
/* Sidebar
/* ========================================================================== */
@media (min-width: 768px) and (max-width: 979px) {
  .page-sidebar.span9 {
    width: 65.74585635359117% !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .sidebar.span3 {
    width: 31.491712707182323% !important;
  }
}
.page-sidebar,
.sidebar {
  margin-top: 30px;
  margin-bottom: 5px;
}
.page-sidebar .widget,
.sidebar .widget {
  margin-bottom: 30px;
  position: relative;
}
.page-sidebar .widget ul.icons.check,
.sidebar .widget ul.icons.check {
  margin-left: 0;
}
.page-sidebar .widget ul.icons.check li,
.sidebar .widget ul.icons.check li {
  position: relative;
  text-indent: 0;
  padding-left: 20px;
}
.page-sidebar .widget ul.icons.check li:after,
.sidebar .widget ul.icons.check li:after {
  content: "\f096";
  font-family: fontawesome;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  text-align: left;
}
.page-sidebar .widget ul.icons.check li.on:after,
.sidebar .widget ul.icons.check li.on:after {
  content: "\f046";
  color: #ff6633;
}
.page-sidebar .widget ul.icons.check a,
.sidebar .widget ul.icons.check a {
  text-decoration: none;
  color: #555;
}
.page-sidebar .widget ul.icons.check a:hover,
.sidebar .widget ul.icons.check a:hover {
  color: #ff6633;
}
.page-sidebar .widget-title,
.sidebar .widget-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 0;
}
.page-sidebar .widget-inner,
.sidebar .widget-inner {
  background-color: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.page-sidebar .accordion,
.sidebar .accordion {
  margin-bottom: 0;
}
.page-sidebar .nav-tabs,
.sidebar .nav-tabs {
  margin-bottom: 0;
  border-bottom-color: #e1e1e1;
}
.page-sidebar .nav-tabs > li > a,
.sidebar .nav-tabs > li > a {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  color: #555;
  border-bottom-color: #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-sidebar .nav-tabs > li > a:hover,
.sidebar .nav-tabs > li > a:hover {
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  color: #ff6633;
  border-bottom-color: #e1e1e1;
}
.page-sidebar .nav-tabs > .active > a,
.sidebar .nav-tabs > .active > a,
.page-sidebar .nav-tabs > .active > a:hover,
.sidebar .nav-tabs > .active > a:hover,
.page-sidebar .nav-tabs > .active > a:focus,
.sidebar .nav-tabs > .active > a:focus {
  background-color: #e9e9e9;
  border-color: #ffffff;
  border-bottom-color: #e1e1e1;
}
.page-sidebar .tab-content,
.sidebar .tab-content {
  padding-top: 0;
}
.page-sidebar .tab-content .tab-pane p,
.sidebar .tab-content .tab-pane p {
  margin-bottom: 20px;
}
.page-sidebar .tab-content .tab-pane p:last-child,
.sidebar .tab-content .tab-pane p:last-child {
  margin-bottom: 0;
}
.page-sidebar .show-all-posts,
.sidebar .show-all-posts {
  background-color: #ff6633;
  color: #ffffff;
}
.page-sidebar .show-all-posts:hover,
.sidebar .show-all-posts:hover {
  background-color: #ff6633;
}
/* Categories widget
/* ========================================================================== */
.shopping-cart-widget .products {
  margin: 0 0 20px 0;
}
.shopping-cart-widget .products .media-heading {
  font-weight: bold;
  font-size: 14px;
  color: #ff6633;
}
.shopping-cart-widget .products .media-heading a {
  text-decoration: none;
  color: #ff6633;
}
.shopping-cart-widget .products .media-heading a:hover {
  color: #ff6633;
}
.shopping-cart-widget .buttons {
  margin-bottom: 0;
}
.shopping-cart-widget .buttons .btn {
  font-size: 13px;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.shopping-cart-widget .buttons .btn:hover {
  background-color: #ff6633;
}
/* Categories widget
/* ========================================================================== */
.categories-widget ul.icons {
  margin-left: 0;
  color: #999999;
}
.categories-widget ul.icons li {
  float: left;
  width: 130px;
  position: relative;
  text-indent: 0;
  padding-left: 20px;
}
.categories-widget ul.icons li:after {
  content: "\f105";
  font-family: fontawesome;
  display: block;
  position: absolute;
  left: 3px;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: left;
}
.categories-widget ul.icons a {
  text-decoration: none;
  color: #555;
}
.categories-widget ul.icons a:hover {
  color: #ff6633;
}
/* Animation KEYFRAMES
/* ========================================================================== */
@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%) rotate(45deg) scale(3);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromLeft {
  from {
    opacity: 0;
    -moz-transform: translateX(-50%) rotate(45deg) scale(3);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes moveFromLeft {
  from {
    opacity: 0;
    -o-transform: translateX(-50%) rotate(45deg) scale(3);
  }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
  }
}
@keyframes moveFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%) rotate(45deg) scale(3);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    opacity: 0;
    -moz-transform: translateX(50%);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes moveFromRight {
  from {
    opacity: 0;
    -o-transform: translateX(50%);
  }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
  }
}
@keyframes moveFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromZoom {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromZoom {
  from {
    opacity: 0;
    -moz-transform: scale(2);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes moveFromZoom {
  from {
    opacity: 0;
    -o-transform: scale(2);
  }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
  }
}
@keyframes moveFromZoom {
  from {
    opacity: 0;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* Search Form Widget
/* ========================================================================== */
#search {
  position: relative;
  margin: 0;
  width: 100%;
}
#search input[type="text"] {
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input[type="text"]:hover {
  border-color: #ff6633;
}
#search input[type="text"]:focus {
  border-color: #ff6633;
}
#search .search-bt {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none !important;
  z-index: 2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #555 url("../../img/button.png") no-repeat center center;
}
#search .search-bt:before {
  content: "\f096";
  font-family: fontawesome;
  display: block;
  width: 20px;
  height: 20px;
  text-align: left;
  color: #000000;
}
#search .search-bt:hover {
  background-color: #ff6633;
}
/* SHOP products
/* ========================================================================== */
.shop-products .thumbnails .item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 768px) and (max-width: 979px) {
  .shop-products .thumbnails .item {
    width: 48.61878453038674% !important;
  }
  .shop-products .thumbnails .item,
  .shop-products .thumbnails .item.first {
    margin-left: 2.7624309392265194% !important;
  }
  .shop-products .thumbnails .item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  .shop-products .thumbnails .item {
    margin-bottom: 50px;
  }
}
.shop-products .inner.darken {
  border-top: solid 1px #e1e1e1;
}
.shop-products .btn-add-to-cart {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
}
.shop-products .btn-add-to-cart i {
  margin-left: 0;
}
.shop-products .btn-add-to-cart:hover {
  background-color: #ff6633;
}
.shop-products .thumbnail {
  border: none;
  padding: 0;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.shop-products .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.shop-products .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.shop-products .thumbnail .price {
  position: absolute;
  top: 48%;
  left: -30px;
  padding: 10px 15px 10px 50px;
  background-color: #f37324;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.shop-products .thumbnail .zoom {
  background-color: #364245;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.shop-products .thumbnail .zoom i {
  padding-left: 6px;
}
.shop-products .thumbnail .title {
  margin-bottom: 10px;
  font-weight: bold;
}
.shop-products .thumbnail .description {
  position: relative;
}
.shop-products .thumbnail .description:last-child {
  margin-bottom: 0;
}
.shop-products .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.shop-products .thumbnail:hover .price {
  left: 0;
}
.shop-products .thumbnail:hover .zoom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity = 40);
  opacity: 0.4;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.shop-products .thumbnail:hover .title {
  color: #f37324;
}
.product-images {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-images {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.product-images .small .thumbnail .zoom {
  font-size: 20px;
  line-height: 35px;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.product-images .small .thumbnail .zoom i {
  padding-left: 3px;
}
@media (max-width: 767px) {
  .product-images .small .thumbnail .zoom {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .product-images .small .thumbnail .zoom i {
    padding-left: 6px;
  }
}
@media (max-width: 767px) {
  .product-images .small .thumbnail {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767px) {
  .product-images .small .thumbnail:last-child {
    margin-bottom: 0 !important;
  }
}
.product-images .thumbnail {
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.product-images .thumbnail.big {
  margin-bottom: 7px;
}
.product-images .thumbnail.big img {
  width: 100%;
}
@media (min-width: 1200px) {
  .product-images .thumbnail.big {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .product-images .thumbnail.big {
    margin-bottom: 20px;
  }
}
.product-images .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
  border: solid 1px #eeeeee;
}
.product-images .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.product-images .thumbnail .zoom {
  background-color: #ff6633;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.product-images .thumbnail .zoom i {
  padding-left: 6px;
}
.product-images .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.product-images .thumbnail:hover .zoom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity = 40);
  opacity: 0.4;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-info {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.product-cart form {
  margin-bottom: 0;
}
.product-cart label {
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: 5px;
}
.product-cart input[type="text"] {
  width: 55px;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #ffffff;
  color: #000000;
  padding: 11px 15px;
  height: auto;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
.product-cart input[type="text"]:hover {
  border-color: #ff6633;
}
.product-cart input[type="text"]:focus {
  border-color: #ff6633;
}
.product-cart .btn {
  padding: 10px 15px;
  font-weight: bold;
}
.product-cart .btn:hover {
  background-color: #ff6633;
}
/* Product title
/* ========================================================================== */
.product-title {
  margin-bottom: 30px;
}
.product-title .title h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 0;
}
.product-title .price {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  text-align: right;
  color: #ff6633;
}
/* Featured products on homepage
/* ========================================================================== */
.featured-products .thumbnails {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .featured-products .thumbnails {
    margin-bottom: 0;
  }
}
.featured-products .thumbnails .item {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .featured-products .thumbnails .item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .featured-products .thumbnails .item {
    width: 48.61878453038674% !important;
    margin-bottom: 2.7624309392265194% !important;
  }
  .featured-products .thumbnails .item,
  .featured-products .thumbnails .item.first {
    margin-left: 2.7624309392265194% !important;
  }
  .featured-products .thumbnails .item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
.featured-products .inner.darken {
  border-top: solid 1px #e1e1e1;
}
.featured-products .btn-add-to-cart {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
}
.featured-products .btn-add-to-cart i {
  margin-left: 0;
}
.featured-products .btn-add-to-cart:hover {
  background-color: #ff6633;
}
.featured-products .thumbnail {
  border: none;
  padding: 0;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.featured-products .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.featured-products .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-products .thumbnail .price {
  position: absolute;
  top: 48%;
  left: -30px;
  padding: 10px 15px 10px 50px;
  background-color: #f37324;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.featured-products .thumbnail .zoom {
  background-color: #364245;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.featured-products .thumbnail .zoom i {
  padding-left: 6px;
}
.featured-products .thumbnail .title {
  margin-bottom: 10px;
  font-weight: bold;
}
.featured-products .thumbnail .description {
  position: relative;
}
.featured-products .thumbnail .description:last-child {
  margin-bottom: 0;
}
.featured-products .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.featured-products .thumbnail:hover .price {
  left: 0;
}
.featured-products .thumbnail:hover .zoom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity = 40);
  opacity: 0.4;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.featured-products .thumbnail:hover .title {
  color: #f37324;
}
/* TOP Categories
/* ========================================================================== */
.featured-categories .thumbnails {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .featured-categories .thumbnails {
    margin-bottom: 0;
  }
}
.featured-categories .thumbnails .item {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .featured-categories .thumbnails .item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .featured-categories .thumbnails .item {
    width: 48.61878453038674% !important;
    margin-bottom: 2.7624309392265194% !important;
  }
  .featured-categories .thumbnails .item,
  .featured-categories .thumbnails .item.first {
    margin-left: 2.7624309392265194% !important;
  }
  .featured-categories .thumbnails .item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
.featured-categories .thumbnail {
  border: solid 1px #eeeeee;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.featured-categories .thumbnail .see-all {
  font-weight: bold;
}
.featured-categories .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
}
.featured-categories .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .title {
  position: absolute;
  left: 0;
  bottom: 48%;
  padding: 10px 15px;
  background-color: #ff6633;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .link {
  position: absolute;
  left: -100%;
  top: 48%;
  padding: 10px 15px;
  background-color: #555;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .description:last-child {
  margin-bottom: 0;
}
.featured-categories .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.featured-categories .thumbnail:hover .title {
  left: 0;
}
.featured-categories .thumbnail:hover .link {
  left: 0;
}
/* ========================================================================== */
/* Reviews
/* ========================================================================== */
.reviews-title .title h3,
.add-review {
  margin-top: 20px;
}
.add-review .stars {
  line-height: 36px;
  text-align: right;
}
.add-review textarea,
.add-review input[type="text"] {
  border-width: 1px;
  border-color: #e1e1e1;
  background-color: #eeeeee;
  color: #555;
  padding: 10px 15px;
  height: auto;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
.add-review textarea:hover,
.add-review input[type="text"]:hover,
.add-review textarea:focus,
.add-review input[type="text"]:focus {
  border-color: #ff6633;
  color: #000000;
}
@media (max-width: 767px) {
  .add-review .stars,
  .add-review textarea,
  .add-review input[type="text"] {
    margin-left: 0 !important;
  }
}
.add-review .btn-submit-review {
  padding: 10px 15px;
  font-weight: bold;
}
.add-review .btn-submit-review:hover {
  background-color: #ff6633;
}
/* Back to Top
/* ========================================================================== */
#toTop {
  background: rgba(0, 0, 0, 0.7) url("../../img/up.png") no-repeat scroll 50% 50%;
  color: #ffffff;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  display: none;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-decoration: none;
  text-indent: -999px;
}
#toTop:active,
#toTop:focus {
  outline: none;
  background-color: #ff6633;
}
#toTopHover {
  background: #ff6633;
  display: block;
  overflow: hidden;
  float: left;
  height: 50px;
  width: 50px;
  opacity: 0;
}
/* ========================================================================== */
/* Helpful Classes
/* ========================================================================== */
.clear {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.spacer {
  height: 50px;
}
.pull-vertical-center {
  vertical-align: middle;
  display: table-cell;
  width: auto;
}
.well.transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.btn {
  background-image: none;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gmap {
  max-width: 100%;
  line-height: 0;
}
.video {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a,
a:active,
a:focus,
input,
input:active,
input:focus,
select,
select:active,
select:focus {
  outline: 0 !important;
}
.first {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.last {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

/* Tables */

table.contentTable
	{
		width: 100%;
		padding: 0 0 0 0;
		margin: 0 0 .2em 0;
		border: 1px solid #97a5b0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

table.contentTable tr
	{
		padding: 0;
		margin: 0;
	}

table.contentTable tr.contentRowEven
	{
		padding: 0;
		margin: 0;
		background: #f7f7f7;
	}

table.contentTable tr.contentRowOdd
	{
		padding: 0;
		margin: 0;
		background: #fff;
	}

table.contentTable tr.contentRowEvenHover,
table.contentTable tr.contentRowOddHover
	{
		padding: 0;
		margin: 0;
		background: #ffc;
	}

table.contentTable th
	{
		color: #000;
		font-weight: normal;
		padding: .9em;
		margin: 0;
		background-color: #e3eff7;
		border: 1px solid #97a5b0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

table.contentTable td
	{
		padding: .3em .3em .3em .3em;
		margin: 0;
	}

/* /Tables */

/* Error */

label.error 
  {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
    font-weight: normal;
    background: transparent;
}

.error
   {
    background: #fcc;
   }	
   
/* /Error */

/* Buttons */

.btn.btn-inverse {
  font-size: 13px;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn:hover {
  background-color: #ff6633;
}

/* /Buttons */