body {
   background-color: #f9f9f9;
}

.row.content {
background: #fff;
padding: 20px;
margin-bottom: 20px;
box-shadow: 0 1px 8px rgba(0,0,0,.23),0 1px 8px rgba(0,0,0,.16);
border-radius: 0px;
border: 0;
}

ul {
  list-style-type: none;
}

ul.thumbnails {
  padding: 0;
  margin: 0;
}

.scroll-top-wrapper {
   position: fixed;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	z-index: 99999999;
	width: 50px;
	height: 60px;
	line-height: 60px;
	right: 30px;
	bottom: 20px;
	padding-top: 2px;
}
.scroll-top-wrapper:hover {
}
.scroll-top-wrapper.show {
   visibility: visible;
   cursor: pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
 
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10000;
}

.nav, .navbar {
margin-bottom: 0;
}
