body {
   background-color: #f9f9f9;
}

a {
color: #000;
text-decoration: none;
}
a:hover,
a:focus {
  color: #ff6633;
  text-decoration: underline;
}
a,
a:active,
a:focus,
.btn,
input,
input:active,
input:focus,
select,
select:active,
select:focus {
  outline: 0 !important;
}
.row.content {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 8px rgba(0,0,0,.23),0 1px 8px rgba(0,0,0,.16);
  border-radius: 0px;
  border: 0;
}

ul li a {
  display: block;
  padding: 12px 0 12px 0;
}

ul.thumbnails {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.icons {
  padding: 0 0 0 0;
  margin: 0;
}

ul.icons li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

ul.icons li:before {
  content: "\f105";
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  left: 3px;
  top: 12px;
  width: 20px;
  text-align: left;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  z-index: 99999999;
  width: 50px;
  height: 60px;
  line-height: 60px;
  right: 30px;
  bottom: 20px;
  padding-top: 2px;
}
.scroll-top-wrapper:hover {
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
 
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10000;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 0px;
border-radius: 0px;
}

.navbar-toggle {
border: 0px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:active {
 color: #fff; 
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #ff0000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav, .navbar {
margin-bottom: 0;
}

.navbar-default {
background-color: #ff6633;
border-color: #ff4b0c;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #fff;
background-color: #555;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #f44336;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #0081c2;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #fff;
}

.dropdown-menu {
  background-color: #555;
  border: 1px solid #555;
  border-radius: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #0081c2;
}

.dropdown-menu>li>a {
color: #fff;
}

.navbar-default .navbar-nav > li >a {
color: #fff;
}

.navbar-default .navbar-brand {
color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.btn,
.alert,
.form-control,
.breadcrumb {
  border-radius: 0px;
}

.btn.btn-default, 
.btn.btn-warning 
	{
		margin-bottom: 5px;
	}

.btn-default {
background-color: #555;
border: 1px solid #555;
color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
background-color: #ff6633;
border: 1px solid #ff6633;
color: #fff;
}

.btn-warning {
background-color: #ff5722;
border: 1px solid #ff5722;
color: #fff;
}

.btn-default.active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
background-color: #ff6633;
border: 1px solid #ff6633;
color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0081c2;
  border-color: #0081c2;
}

.pagination > li > a,
.pagination > li > span {
  color: #555;
  background-color: transparent;
  border: 0px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #ff6633;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #ff6633;
}

/* Ajax Spinner */
div#spinner {
  display: none;
  width:100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align:center;
  margin-left: -50px;
  margin-top: -100px;
  z-index:555;
  overflow: auto;
} 
/* /Ajax Spinner */

/* Ajax Hightlight */
.ajax-cart-hightlight {
  background: #fcc;
  opacity: 1;
  transition: all 2s ease-in;
}	
/* /Ajax Hightlight */
   