body {
   background-color: #f9f9f9;
}

a {
color: #000;
text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #ff6633;
  text-decoration: underline;
}
a,
a:active,
a:focus,
.btn,
input,
input:active,
input:focus,
select,
select:active,
select:focus {
  outline: 0 !important;
}
.row.content {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 8px rgba(0,0,0,.23),0 1px 8px rgba(0,0,0,.16);
  border-radius: 0px;
  border: 0;
}

.product-tabs, 
.tab-content {
  padding: 15px;
}

ul.thumbnails {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li a {
  display: block;
  padding: 12px 0 12px 0;
}

ul.icons {
  padding: 0;
  margin: 0;
}

ul.icons li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

ul.icons li:before {
  content: "\f105";
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  left: 3px;
  top: 12px;
  width: 20px;
  text-align: left;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  z-index: 99999999;
  width: 50px;
  height: 60px;
  line-height: 60px;
  right: 30px;
  bottom: 20px;
  padding-top: 2px;
}
.scroll-top-wrapper:hover {
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.inner {
  background-color: transparent;
  position: relative;
  padding: 0 5px 0 5px;
}
.inner.darken {
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 15px;
}
 
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10000;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 0px;
border-radius: 0px;
}

.navbar-toggle {
border: 0px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:active {
 color: #fff; 
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #f44336;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav, .navbar {
margin-bottom: 0;
}

.navbar-default {
background-color: #ff6633;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #fff;
background-color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #f44336;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #0081c2;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #fff;
}

.dropdown-menu {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0;
}

ul.dropdown-menu.cart {
padding: 0;
margin: 0;
}

.dropdown.open .dropdown-menu.cart h3.widget-title {
  display: none;
}

.dropdown-menu.cart {
  min-width: 250px;
  width: 250px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  z-index: 2000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #0081c2;
}

.dropdown-menu>li>a {
color: #fff;
}

.navbar-default .navbar-nav > li >a {
color: #fff;
}

.navbar-default .navbar-brand {
color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.btn,
.alert,
.form-control,
.breadcrumb {
  border-radius: 0px;
}

.btn.btn-default, 
.btn.btn-warning 
	{
		margin-bottom: 5px;
	}

.btn-default,
.btn-primary {
background-color: #333;
border: 1px solid #333;
color: #fff;
}

.btn:hover,
.btn:active,
.btn-default.active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
background-color: #ff5722;
border: 1px solid #ff5722;
color: #fff;
}

.btn-warning {
background-color: #ff6633;
border: 1px solid #ff6633;
color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0081c2;
  border-color: #0081c2;
}

/* ========================================================================== */
/* Main Content Styles
/* ========================================================================== */
/* Frame overlay
/* ========================================================================== */
.media a,
.thumbnail {
  position: relative;
}
.media .frame-overlay,
.thumbnail .frame-overlay,
.portfolio article .frame-overlay {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.media a:hover .frame-overlay,
.thumbnail:hover .frame-overlay,
.portfolio article:hover .frame-overlay {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* Pagination
/* ========================================================================== */
.pagination > li > a,
.pagination > li > span {
  color: #333;
  background-color: transparent;
  border: 0px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #ff6633;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #ff6633;
}

/* Shopping Cart Widget
/* ========================================================================== */
.shopping-cart-widget {
background: #fff;
}
.shopping-cart-widget .products {
  margin: 0 0 20px 0;
}
.shopping-cart-widget .products .media-heading {
  font-weight: bold;
  font-size: 14px;
  color: #ff6633;
}
.shopping-cart-widget .products .media-heading a {
  text-decoration: none;
  color: #ff6633;
}
.shopping-cart-widget .products .media-heading a:hover {
  color: #ff6633;
}
/* Widget
/* ========================================================================== */
.widget ul.icons li {
  float: left;
  width: 200px;
  position: relative;
  text-indent: 0;
}
/* ========================================================================== */
/* Footer
/* ========================================================================== */
footer {
  color: #fff;
  background-color: #333;
}

footer a,
footer a:hover,
footer a:focus,
footer a:active {
  color: #fff;
}

.thumbnail .discount {
  position: absolute;
  left: -30px;
  padding: 10px 15px 10px 50px;
  background-color: #ff6633;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  z-index: 15;
}

.thumbnail .label {
  position: absolute;
  background-color: #ff6633;
  color: #fff;
  right: 0;
  padding: 0 15px 0 15px;
  margin: 0 right;
  top: 7.5%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 0px;
}

.thumbnail .label.new {
  background-color: #0081c2;
}

.thumbnail .label.hit {
  background-color: #d91414;
}

.thumbnail .label.sale {
  background-color: #00b600;
}

.thumbnail .label.html {
  background-color: transparent;
}
.thumbnail .price {
  color: #ff6633;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.thumbnail .old-price {
  color: gray;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.thumbnail .save {
  color: #ff6633;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.description .price {
  color: #ff6633;
  font-size: 20px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.description .old-price {
  color: gray;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.description .save {
  color: #ff6633;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
  clear: both;
}
.rating {
  background-color: transparent;
  color: #ff6633;
  right: 0;
  padding: 0 5px 0 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

/* Error */

label.error 
    {
		margin-left: 10px;
		width: auto;
		display: inline;
		color: red;
		font-weight: normal;
		background: transparent;
	}

.error
	{
		background: #fcc;
	}	
   
/* /Error */

/* ========================================================================== */
/* Helpful Classes
/* ========================================================================== */
ul.clearfix {
  list-style-type: none;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.spacer {
  height: 50px;
}
.pull-vertical-center {
  vertical-align: middle;
  display: table-cell;
  width: auto;
}


/* Tables */

table.contentTable
	{
		width: 100%;
		padding: 0 0 0 0;
		margin: 0 0 .2em 0;
		border: 1px solid #97a5b0;
	}

table.contentTable tr
	{
		padding: 0;
		margin: 0;
	}

table.contentTable tr.contentRowEven
	{
		padding: 0;
		margin: 0;
		background: #f7f7f7;
	}

table.contentTable tr.contentRowOdd
	{
		padding: 0;
		margin: 0;
		background: #fff;
	}

table.contentTable tr.contentRowEvenHover,
table.contentTable tr.contentRowOddHover
	{
		padding: 0;
		margin: 0;
		background: #ffc;
	}

table.contentTable th
	{
		color: #000;
		font-weight: normal;
		padding: .9em;
		margin: 0;
		background-color: #e3eff7;
		border: 1px solid #97a5b0;
	}

table.contentTable td
	{
		padding: .3em .3em .3em .3em;
		margin: 0;
	}

/* /Tables */

/* Checkout */

ul.shipping-methods,
ul.payment-methods {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.shipping-methods li,
ul.payment-methods li
	{
		border: 2px solid #fff;
		border-radius: 0px;
		margin: 0 0 1.5em 0;
		padding: 0;
	}

ul.shipping-methods li:hover,
ul.payment-methods li:hover,
ul.shipping-methods .selected,
ul.payment-methods .selected
	{
		border: 2px solid #ff6633;
		border-radius: 0px;
	}

ul.shipping-methods li label,
ul.payment-methods li label
	{
		height: 140px;
		overflow: auto;
		display: block;
	}

ul.shipping-methods li label span.title,
ul.payment-methods li label span.title,
ul.shipping-methods li label span.description,
ul.payment-methods li label span.description,
ul.shipping-methods li label span.image,
ul.payment-methods li label span.image
	{
		display: block;
		padding: .5em;
	}

ul.shipping-methods li label span.title,
ul.payment-methods li label span.title
	{
		background: #eee;
	}

/* /Checkout */

/* Ajax Spinner */
div#spinner {
  display: none;
  width:100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align:center;
  margin-left: -50px;
  margin-top: -100px;
  z-index:555;
  overflow: auto;
} 
/* /Ajax Spinner */

/* Ajax Hightlight */
.ajax-cart-hightlight {
}	
/* /Ajax Hightlight */
   
/* SHOP products
/* ========================================================================== */
.shop-products .thumbnails .item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 768px) and (max-width: 979px) {
  .shop-products .thumbnails .item {
    width: 48.61878453038674% !important;
  }
  .shop-products .thumbnails .item,
  .shop-products .thumbnails .item.first {
    margin-left: 2.7624309392265194% !important;
  }
  .shop-products .thumbnails .item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  .shop-products .thumbnails .item {
    margin-bottom: 50px;
  }
}
.shop-products .inner.darken {
  border-top: solid 0px #e1e1e1;
}
.shop-products .thumbnail {
  border: solid 1px #eeeeee;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	}

.shop-products .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
}
.shop-products .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.shop-products .thumbnail .zoom {
  background-color: #364245;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.shop-products .thumbnail .zoom i {
  padding-left: 6px;
}
.shop-products .thumbnail .title {
  margin-bottom: 10px;
  font-weight: bold;
}
.shop-products .thumbnail .description {
  position: relative;
}
.shop-products .thumbnail .description:last-child {
  margin-bottom: 0;
}
.shop-products .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.shop-products .thumbnail:hover .price {
  left: 0;
}
.shop-products .thumbnail:hover .zoom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity = 40);
  opacity: 0.4;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.shop-products .thumbnail:hover .title {
  color: #ff6633;
}
.product-images {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-images {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.product-images .small .thumbnail .zoom {
  font-size: 20px;
  line-height: 35px;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.product-images .small .thumbnail .zoom i {
  padding-left: 3px;
}
@media (max-width: 767px) {
  .product-images .small .thumbnail .zoom {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .product-images .small .thumbnail .zoom i {
    padding-left: 6px;
  }
}
@media (max-width: 767px) {
  .product-images .small .thumbnail {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767px) {
  .product-images .small .thumbnail:last-child {
    margin-bottom: 0 !important;
  }
}
.product-images .thumbnail {
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.product-images .thumbnail {
  padding: .5em;
  margin: 0;
}
.product-images .thumbnail.big {
  margin-bottom: 7px;
}
.product-images .thumbnail.big img {
}
@media (min-width: 1200px) {
  .product-images .thumbnail.big {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .product-images .thumbnail.big {
    margin-bottom: 20px;
  }
}
.product-images .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
  border: solid 1px #eeeeee;
}
.product-images .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.product-images .thumbnail .zoom {
  background-color: #ff6633;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.product-images .thumbnail .zoom i {
  padding-left: 6px;
}
.product-images .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.product-images .thumbnail:hover .zoom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity = 40);
  opacity: 0.4;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* TOP Categories
/* ========================================================================== */
.featured-categories .thumbnails {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .featured-categories .thumbnails {
    margin-bottom: 0;
  }
}
.featured-categories .thumbnails .item {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .featured-categories .thumbnails .item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .featured-categories .thumbnails .item {
    width: 48.61878453038674% !important;
    margin-bottom: 2.7624309392265194% !important;
  }
  .featured-categories .thumbnails .item,
  .featured-categories .thumbnails .item.first {
    margin-left: 2.7624309392265194% !important;
  }
  .featured-categories .thumbnails .item:nth-child(odd) {
    margin-left: 0 !important;
  }
}
.featured-categories .thumbnail {
  border: solid 1px #eeeeee;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.featured-categories .thumbnail .see-all {
  font-weight: bold;
}
.featured-categories .thumbnail .image {
  overflow: hidden;
  position: relative;
  display: block;
}
.featured-categories .thumbnail .image img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .title {
  position: absolute;
  left: 0;
  bottom: 48%;
  padding: 10px 15px;
  background-color: #ff6633;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .link {
  position: absolute;
  left: -100%;
  top: 48%;
  padding: 10px 15px;
  background-color: #333;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featured-categories .thumbnail .description:last-child {
  margin-bottom: 0;
}
.featured-categories .thumbnail:hover .image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.featured-categories .thumbnail:hover .title {
  left: 0;
}
.featured-categories .thumbnail:hover .link {
  left: 0;
}

   
   